<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :descriptionType %><br>
  <%= f.text_field :descriptionType %>
</div>