<%= simple_fields_for @title , :html => { :class => 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |title| %>
<%= render "datacite/shared/error_messages", :target => @title %>
<div class="col-sm-9">
  <%= title.input :title %>
  <%#= title.input :titleType %>
  <%= title.input :resource_id, :as => :hidden %>
</div>
<% end %>