<!DOCTYPE html>
<html>
<head>
  <title>Datacite</title>
  <%= stylesheet_link_tag    "datacite/application", media: "all" %>
  <%= javascript_include_tag "datacite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
