<%= simple_fields_for @description , :html => { :class => 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |description| %>
<%= render "datacite/shared/error_messages", :target => @description %>
<div class="col-sm-9">
  <%= description.input :description %>
  <%#= description.input :descriptionType %>
  <%= description.input :resource_id, input_html: { value: params[:resource_id] } %>
</div>
<% end %>
