<%= simple_fields_for @creator , :html => { :class => 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |creator| %>
  <%= render "datacite/shared/error_messages", target: @creator %>
  <div class="col-sm-9">
    <%= creator.input :creatorName, label: "Contributor" %>
    <%#= creator.input :name_identifier_id %>
    <%#= creator.input :affiliation_id %>
    <%= creator.input :resource_id, input_html: { value: params[:resource_id] }, as: :hidden %>
  </div>
<% end %>
