<div class="container">
  <div class="col-sm-2 pull-left">
    <%= render "datacite/creators/navigation_bar" %>
  </div>
  <div class="col-sm-10">
    <%= render 'form' %>
  </div>
</div>
<%#= link_to 'Back', main_app.edit_resource_path(params[:resource_id]), class: "btn" %>
