<div class="container">
  <div class="col-sm-2 pull-left">
    <%= render "datacite/generals/navigation_bar" %>
  </div>

  <div class="col-sm-10">
    <div class="form-group">
      <h3>Describe your Data</h3>
        <label>What metadata format will you be using to describe this dataset?</label><br/>
        <%= select_tag "", options_for_select([ "Datacite", "Dublin Core" ], "Datacite"), class: "btn btn-default dropdown-toggle " %>
    </div>
    <br/>
    <%= render 'form' %>
  </div>
</div>
