<%= simple_fields_for @publisher , :html => { :class => 'form-horizontal' },
                wrapper: :horizontal_form,
                wrapper_mappings: {
                        check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean
                } do |publisher| %>
<%= render "datacite/shared/error_messages", :target => @publisher %>
<div class="col-sm-9">
  <%= publisher.input :publisher %>
  <%= publisher.input :resource_id, input_html: { value: params[:resource_id] }, as: :hidden %>
</div>
<% end %>